.header{
    border: 1px solid rgb(235, 237, 240);
    display:flex;
    justify-content: space-between;
    padding:10px 60px;
    position:fixed;
    width: 100%;
    background-color: gainsboro;
    z-index: 500;
}
.header > h1{
    margin:0px;
}
.banner{
    height: 250px;
    background-color: gray;
}
.banner h1{
    font-size: 45px;
    font-weight: bold;
}
.banner p{
    font-size: 20px;
}
.bannerContent{
    width: 70%;
    margin: auto;
    padding: 40px 0px;
}
.bannerContent *{
    color: white;
}
.content{
    width: 65%;
    margin:0px auto ;
}



@media only screen and (max-width: 980px) {
    .content{
        width:70%;
        margin:0px auto ;
    }
}



@media only screen and (max-width: 500px) {
    .header{
        padding: 10px 20px;
    }
    .bannerContent{
        width: 90%;
    }
    .banner p{
        font-size: 16px;
    }
    .content{
        width:75%;
        margin:0px auto ;
    }
}